<!DOCTYPE html>
<html lang="en">
<head>
    <title>Impulse</title>
    <script type="module" src="/resources/bundle.js"></script>
    <link href="~/resources/bundle.css" rel="stylesheet" />
</head>
<body>
    <header>
        HEADER CONTENT
    </header>
    <main>
        Body stuff is here.
        <test-component name="THIS IS A TEST!"/>
    </main>
    <footer>
        &copy;@DateTime.Now.Year Impulse
    </footer>
</body>
</html>